@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("../styles/header.css");
@import url("../styles/banner.css");
@import url("../styles/carousel.css");
@import url("../styles/topicos.css");
@import url("../styles/contato.css");
@import url("../styles/rodape.css");

:root{
    --color-background: #EBECEE;
    --color-primary: #EB9B00;
    --color-secondary: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --color-terciary: #FFFFFF;
    --color-4: #002F52;
    --color-5: #474646;
    --color-6: #858585;
    --color-7: #F9F9F9;
    --color-8: #000000;

    --font-primary: 'Poppins', 'sans-serif';
    --font-secondary: 'Josefin Sans', 'sans-serif';

}

body {
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
}